.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .input_field {
    margin-bottom: 10px;
  }

  .btn{
    cursor:pointer;
  }